bleach==3.1.4
certifi==2019.9.11
chardet==3.0.4
docutils==0.15.2
entrypoints==0.3
idna==2.8
inflect==4.1.0
importlib-metadata==0.23
keyring==19.2.0
# libcst==0.2.4
libcst==0.3.18
PyYAML==5.4.1
six==1.15.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
more-itertools==7.2.0
mypy-extensions==0.4.3
pkginfo==1.5.0.1
Pygments==2.4.2
pywin32-ctypes>=0.2.0
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
tqdm==4.38.0
twine==3.0.0
urllib3==1.25.7
webencodings==0.5.1
zipp==0.6.0
